<h1 class="bg-secondary text-white text-center m-3 p-3">Validation Reactive Forms</h1>


<div class="container">

    <div class="row">
        <div class="col-lg-12 m-2">
            <div class="container bg-warning p-5  rounded border-1 border border-primary" style="width: 400px;" >

                <h1>login</h1><br>
                <form action="" [formGroup]="dataform" (ngSubmit)="submitdata(dataform.value)">

                    <label for="">Username:</label><br>
                    <span class="text-danger" *ngIf="dataform.controls.username.touched && dataform.controls.username.invalid">Please enter the username</span>
                    <input type="text" class="form-control" name="username" formControlName="username" [ngClass]="{'border-color': dataform.controls.username.touched && dataform.controls.username.invalid}">

                    <br>

                    <label for="">Password:</label><br>
                    <span class="text-danger" *ngIf="dataform.controls.password.touched && dataform.controls.password.invalid">Please enter the password</span>
                    <input type="text" class="form-control" name="password" formControlName="password" [ngClass]="{'border-color': dataform.controls.password.touched && dataform.controls.password.invalid}">

                    <br>

                    <div class="col-lg-12 text-center ">
                        <input type="submit" class="btn btn-primary" [disabled]="!dataform.valid">
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>
